body {
    padding-top: 50px;
    padding-bottom: 20px;
        background: url('lined-paper.jpg') fixed

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 580px;
        min-width: 280px;
}

textarea {
    width: 580px;
}
@media (max-width: 650px) {
    textarea {
        width: auto;
    }
}
@media (max-width: 650px) {
    .picturerow {
        display: none;
    }
}

h2,h3 {
                text-align: center;
}

 .checklabel{
                text-align: center;
}

h2 {
                font-family:'Berlin Sans FB','Coming Soon','cursive';

}
a {
                font-family:'Berlin Sans FB','Coming Soon','cursive';
        font-size:18px;

}
h1 {
                text-align: center;
                font-family:Forte,'Pattaya',sans-serif;
                font-size:60px;
}

textarea {
        min-height: 180px;
}

.picturedisplay {
    max-width: 120px;
}

.biggerpicturedisplay {
    max-width: 300px;
    float:left;
    margin-right: 50px;
    margin-bottom: 10px;

}

dt {
    margin-bottom:1px;
        margin-top:12px;
}

#newVariant_Stationary_ID {
display:none}


._Art {
    background-color: #f2ddf2;
}

._General {
    background-color: #e8f2e7;
}

._Math {
    background-color: #e3e2f3;
}

.tracingpaper {
         background-color: rgba(246,246,246,1.0);
             padding: 10px 46px;
	border-radius: 30px;
    width:100%;
    min-width:initial;
}
.edit {

    min-width:80px;
}

/*.form-horizontal
{
    background-color: #e3e2f3;
    padding:8px;
    border-radius:5px;
}*/

